* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.card {
    width: 100%;
    margin: 2rem;
    padding: 1.5rem 2rem;
    border: 8px solid lightgray;
    border-radius: 2rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card__body {
    display: flex;
    flex-direction: row;
}
.card__body__image {
    width: 128px;
    height: 128px;
    flex-shrink: 0;
    border-radius: 100%;
    margin: 1rem;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}
.card__body__content {
    padding: 0 1rem;
}

#top-observer {
    background: rgba(0, 0, 255, 0.2);
    border: 2px dashed  rgba(0, 0, 255, 0.2);
}
#bottom-observer {
    background: rgba(255, 0, 0, 0.2);
    border: 2px dashed  rgba(255, 0, 0, 0.6);
}
#top-observer, #bottom-observer {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 2rem;
}

#virtual-list {
    position: relative;
}


